.sidebar{
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    cursor: pointer;
}